body {
    background-color: rgba(237, 237, 237, 1);
}

h1 {
    font-size: 5500%;
    /*font*/
    color: rgba(101, 147, 130, 1);
    width: auto;
    text-align: center;
    margin-top: auto;
}
/*border --> grey*/

p {
        font-size: 120%;
        display: inline-block;
        width: auto;
        text-align: center;
}